* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-family: 'Comic Neue', cursive;
  list-style: none;
  /* background-color: crimson; */
}



/* ///////   HEADER   /////////*/

header {
  color: #CDCDCD;
  display: flex;
  background-color: black;
  height: 80px;
  width: 100%;
}

.header-container {
  margin: 0 auto;  
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  width: 440px;
}

.nav-list li {
  padding-right: 20px;
}

#selected-menu-item {
  color: #fff;
  font-weight: bolder;
}

#sign-out-btn {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #4BA0B5;
  height: 35px;
  width: 125px;
}

/* ///////   FONTS  /////////*/

h1 {
  font-size: 40px;
  width: 130px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.grey {
  color: #999;
}

h6 {
  font-size: 16px;
}

/* ///////   MAIN LAYOUT   /////////*/

.main-container {
  padding-top: 30px;
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;
}

.main-col-1 { /* left column */
  width: 495px;
  height: 100%;
}

.main-col-2 { /*  right aside  */
  width: 280px;
}

.box-head {
  color: #CDCDCD;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-col-1-row-1-head {
  color: #000;
  background-color: #4BA0B5;
  height: 100px;
}

.main-col-1 .innermost-rows  {
  margin: 4px 0;
}

.main-col-1-row-1 {
  height: 325px;
}

p {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}

.box-main {
  background-color: #ffffff;
  border: 4px solid #CDCDCD;
  border-top: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.profesh-identity-list {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.profesh-identity-list li {
  padding-right: 10px;
}

#map-marker-icon {
  width: 14px;
  height: 19px;
  margin-right: 5px;
}

#gear-icon {
  width: 20px;
  padding-right: 5px;
}


.request-list li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.innermost-rows {
  display: flex;
  align-items: center;
}

.innermost-cols {
  padding: 15px 20px 15px 15px;
  display: flex;
}

.box-foot {
  border-top: 4px solid #CDCDCD;
  padding-left: 10px;
  margin-bottom: 10px;
}

.profile-pic {
  border: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.main-profile-pic {
  border: 4px solid #CDCDCD;
  padding: 4px;
  background-color: #fff;
  border-radius: 50%;
  width: 118px;
  margin-top: -80px;
}

.accept-reject-btn {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

#connection-count, #request-count {
  background-color: #CDCDCD;
  color: #000;
  border-radius: 50%;
  padding: 5px;
}